<html>
    <head>
        <meta charset="utf-8" />
        <title>Caculator</title>
        <meta name="author" content="Jay Patel" />
        <meta name="description" content="" />
        <script src="static/js/jquery-3.3.1.slim.min.js"></script>
        <script src="static/js/popper.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/temp.css">
    </head>

    <body class="bg-secondary">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top d-flex">
                <div class="">
                    <a class="navbar-brand" href="">Where is this?</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="ml-auto">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link btn btn-sm btn-outline-secondary" href="{{ url_for('home') }}">Home</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link btn btn-outline-success" href="{{ url_for('calc') }}">Calculator<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-sm btn-outline-secondary" href="{{ url_for('results') }}">Table</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link btn btn-sm btn-outline-secondary" href="search.html">Internet Search</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div style="margin-top: 100px;"> 
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            {{message}}
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="card bg-dark" style="margin-top: 100px; margin-bottom: 75px;"> 
                <div class="card-body text-white" style="margin-left: auto;margin-right: auto;">  
                    {% block body %}
                        <form action="{{ url_for('calc') }}", method="post">
                            <input type="text" id="left" name="left" value={{left}} />
                            <input type="text" id="middle" name="middle" value={{middle}} />
                            <input type="text" id="right" name="right" value={{right}} />
                            <input type="submit" value="Get Answer">
                        </form>                        
                    {% endblock %}
                </div>
            </div>
            <div class="fixed-bottom" style="background-color: rgba(0, 0, 0, 0.2);">
                <div class="d-flex justify-content-between p-3 text-white">
                    <div><a class="text-white" href="https://validator.w3.org/nu/?doc=http%3A%2F%2Fjhp54.eastus.azurecontainer.io%2Findex.html">W3C</a></div>
                    <div>©2021 Copyright</div>
                    <div>Authors: <a class="text-white" href="https://github.com/JayPatel504/historyweb">Jay Patel</a></div>
                </div>
            </div>
        
        </div>
    </body>
</html>
