<!DOCTYPE html>
<html lang="en">
    <style>
        @media only screen and (min-width: 1300px) {
            .hero1{
                padding-left: 48% !important;
            }
            .hero {
            padding-left: 45% !important;
            }
        }
    </style>

    <head>
        <meta charset="utf-8" />
        <title>Calculator Application</title>
        <meta name="author" content="Jay Patel" />
        <meta name="description" content="A website to host a calculator" />
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/temp.css') }}">
    </head>

    <body class="bg-secondary">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top d-flex">
                <div class="">
                    <a class="navbar-brand" href="">Calculator Application</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="ml-auto">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link btn btn-outline-success" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-sm btn-outline-secondary" href="{{ url_for('calc') }}">Caculator</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-sm btn-outline-secondary" href="{{ url_for('results') }}">Table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-sm btn-outline-secondary" href="{{ url_for('four') }}">Flask</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="content d-flex justify-content-center" style="margin-top: 75px; margin-bottom: 75px; align-items: center;">
                <div class="card bg-dark">
                    <img class="card-img img-responsive" src="static/img/home1.png" alt="picture of network cloud">
                    <p class="hero1" style="padding-top: 25%; padding-left: 45%; position: absolute; display: inline-flex;top: auto;left: auto; font-size: xx-large;">Let's</p>
                    <p class="hero" style=" padding-top: 30%;padding-left: 40%;position: absolute; display: inline-flex;top: auto;left: auto; font-size: xx-large;">Connect!</p>
                </div>
            </div>
            <div style="display: flex; width: 75%; justify-content: space-evenly; margin: auto; text-align: center;">
                <div class="content" style="margin-top: 75px; margin-bottom: 75px; width: 25%;">
                    <div class="bg-dark">
                        <div class="card-body">
                            <h5 class="card-title text-white">Click For Calculator</h5>
                            <a href="{{ url_for('calc') }}" class="btn btn-primary btn-lg">Start Here!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-bottom" style="background-color: rgba(0, 0, 0, 0.2);">
                <div class="d-flex justify-content-between p-3 text-white">
                    <div><a class="text-white" href="https://validator.w3.org/nu/?doc=http%3A%2F%2Fjhp54.eastus.azurecontainer.io%2Findex.html">W3C</a></div>
                    <div>©2021 Copyright</div>
                    <div>Authors: <a class="text-white" href="https://github.com/JayPatel504/flask/tree/part3">Jay Patel</a></div>
                </div>
            </div>
        </div>
    </body>
</html>
